{{> head}}
{{> navbar}}

<div class="row">

    
    <div class="col-8">
        <h1> The love of my life </h1>
    <p>
        She is all i want, my dream that come true.
        I LOVE U SO MUCH

    </p>

    </div>
    <div class="col-4">

        <img src="assets/img/zorany.jpg" class="img-thumbnail"
    </div>
        
</div>


{{> footer}}