{{> head}}
{{> navbar}}

<div class="row">

    
    <div class="col-8">
        <h1> Iron Man </h1>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum, molestiae ipsum voluptates nostrum ducimus perferendis officiis odio suscipit labore necessitatibus recusandae nulla voluptatem quo magni iste perspiciatis odit dolor neque?

    </p>

    </div>
    <div class="col-4">

        <img src="assets/img/ironman.png" class="img-thumbnail"
    </div>
        
</div>


{{> footer}}