{{> head}}
    {{> navbar}}
    <div class="jumbotron">
        <h1 class="display-4">Hello, {{capitalizar nombre}}!</h1>
        <p class="lead">You are the love of my life and i am really glad that you are in my life.</p>
        <hr class="my-4">
        <p>I love you to the infinite and beyond.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
    {{> footer}}
    